@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 class="white-font" id="title">@ViewBag.Title</h2>
    <h3 class="white-font">TV sucks now, but video games are still cool! Unfortunately, not everyone likes to play video games. That's where 
    Gameflix comes in. Now, you can watch video games as though they were TV shows!</h3>

    <p class="white-font">Note: none of the content presented is my original content. All credit goes to the talented and skilled developers
    that worked tirelessly to create the wonderful video games we all love and enjoy.</p>
</main>