@{
    ViewBag.Title = "Home Page";
}

<main class="background">
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 class="gameflix-large" id="title">Gameflix</h1>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <div class="card" style="width: 18rem; ">
                <img class="card-img-top" src="~/Content/Images/Cyberpunk2077/Cyberpunk_2077.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Cyberpunk 2077</h5>
                    <p class="card-text">TVMA &#x2022; Sci-Fi</p>
                    <a href="@Url.Action("Index", "Seasons", new { area = "Cyberpunk2077" })" class="btn btn-primary card-btn">Watch</a>
                </div>
            </div>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
        </section>
    </div>
</main>